@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Londrina+Outline');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body, html {
    padding: 0;
    margin: 0;
    background-color: #171717;
    height: 100vh;
    
}

.sideNav {
    grid-area: icons;
    height: 50%;
    width: 30px;
    padding-top: 90px;
    text-decoration: none;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .sideNav a{

    color:#434445;
    
  } 
  
  .sideNav :hover {
    color: mediumvioletred
  } 

  .sideNav2 {
    grid-area: social;
    height: 50%;
    width: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 0 auto;
    
    
  }

  
  .sideNav2 a{

    color:#434445;
    
  } 
  
  .sideNav2 :hover {
    color: mediumvioletred
  } 

  .hi {
    grid-area: main1;
    color: white;
    font-family: "Quicksand";
    font-size: 500%;
    font-weight: 50;
    display: flex;
    justify-content: left;
    margin-left: 130px;
    margin-top: -70px;
    position: relative;
    
  }

  #cn {
    color: #7A7A7A;
    font-family: "Quicksand";
    grid-area: main1;
    letter-spacing: 2px;
    font-size: 12px;
    display: flex;
    justify-content: left;
    margin-left: 130px;
    margin-top: -50px;
    position: relative;

  }
    /* animation-name: flash;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
  }

  @keyframes flash {
    from {color: mediumvioletred;}
    to {color: darkorange;}
  }  */

  #contact {
    grid-area: main1;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    position: relative;
    background-color: #252627;
    color: mediumvioletred;
    border-color: mediumvioletred;
    font-size: 15px;
    font-family: "Quicksand";
    letter-spacing: 2px;
    display: flex;
    justify-content: left;
    margin-left: 130px;
    margin-top: 50px;
    
  }

  #contact:hover {
   background-color: mediumvioletred;
   color: white;
  }

  #contact:focus {
    outline:0;
}


  .grid-container {
    display: grid;
    grid-template-columns: 0.125fr [cons] 1.7fr 2.2fr;
    grid-template-rows: 0.4fr 0.8fr 2.6fr 0.8fr 0.4fr;
    grid-template-areas: "logo header header" 
                        ". main1 main2"
                        "icons main1 main2" 
                        ". main1 main2"
                        "social footer footer";
    height:100%;
    width: 100vw;
  }
  
  .one {
      grid-area: footer;
      background-color: #252627;
  }
 
  .two{
      grid-area: icons;
      background-color:#171717;
  }    
  
  .three {
      grid-area: main1;
      background-color: #252627;
  }

  .four {
    grid-area: main2;
    background-color: #252627;
  }

  
  .five {
    grid-area: social;
    background-color:#171717;
  }

  .six {
    grid-area: logo;
    background-color:#0A0A0B;
  }

  .seven {
    grid-area: header;
    background-color:#252627;
  }
 
  .intro {
    grid-area: main1;
    align-self: center;
  }