@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Londrina+Outline');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body, html {
    padding: 0;
    margin: 0;
    background-color: #171717;
    height: 100vh;
    
}

.sideNav {
    grid-area: icons;
    height: 50%;
    width: 30px;
    padding-top: 90px;
    text-decoration: none;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .sideNav a{

    color:#434445;
    
  } 
  
  .sideNav :hover {
    color: mediumvioletred
  } 

  .sideNav2 {
    grid-area: social;
    height: 50%;
    width: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 0 auto;
    
    
  }

  
  .sideNav2 a{

    color:#434445;
    
  } 
  
  .sideNav2 :hover {
    color: mediumvioletred
  }



.grid-container {
    display: grid;
    grid-template-columns: 0.125fr [cons] 1.7fr 2.2fr;
    grid-template-rows: 0.4fr 0.8fr 2.6fr 0.8fr 0.4fr;
    grid-template-areas: "logo header header" 
                        ". main1 main2"
                        "icons main1 main2" 
                        ". main1 main2"
                        "social footer footer";
    height:100%;
    width: 100vw;
  }
  
  .one {
      grid-area: footer;
      background-color: #252627;
  }
 
  .two{
      grid-area: icons;
      background-color:#171717;
  }    
  
  .three {
      grid-area: main1;
      background-color: #252627;
  }

  .four {
    grid-area: main2;
    background-color: #252627;
  }

  
  .five {
    grid-area: social;
    background-color:#171717;
  }

  .six {
    grid-area: logo;
    background-color:#0A0A0B;
  }

  .seven {
    grid-area: header;
    background-color:#252627;
  }
 
  .intro {
    grid-area: main1;
    align-self: center;
  }

  .pro {
      font-size: 60px;s
  }